<% @portfolios.each do |p| %>
    <div class="portfolio-modal modal fade" id="portfolioModal<%= p.id.to_s %>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <%= icon("fas", "times", "data-dismiss" => "modal", class: "fa-1x text-dark") %>
                  <h2 class="text-uppercase"><%= p.title %></h2>
                  <hr>
                  <%= image_tag "portfolio/fullsize/" + p.full_image, class: "portfolio-box" %>
                  <p><%= p.description %></p>
                  <a class="btn btn-primary btn-xl" href="">View Website</a>
                  <a class="btn btn-primary btn-xl" data-dismiss="modal">Close</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>