<% @portfolios.each do |p| %>
    <div class="portfolio-modal modal fade" id="portfolioModal<%= p.id.to_s %>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <button type="button" class="close mr-1 text-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <h4 class="modal-title col text-center" id="exampleModalLabel"><%= p.title %></h4>
                </div>
                <hr>
            </div>
            <div class="container">
            <div class="row">
              <div class="col-lg-12 mx-auto">
                <div class="modal-body text-center">
                  <%= link_to image_tag("portfolio/fullsize/" + p.full_image, class: "img-fluid"), p.website, target: :_blank %>
                  <h5 class="mt-3 text-muted">Features:</h5>
                  <p><%= p.description.html_safe %></p>
                  <h5 class="mt-3 text-muted">Language and Framework utilised:</h5>
                  <div class="text-left">
                    <% @portfolios.find(p.id).technologies.each do |t| %>
                      <%= image_tag("logo/" + t.logo, class: "logo mx-1", title: t.name) %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="modal-footer text-center">
                <a class="btn btn-primary btn-sm" href="<%= p.website %>" target="_blank">View Website</a>
                <a class="btn btn-primary btn-sm" data-dismiss="modal">Close</a>
            </div>
        </div>
      </div>
    </div>
<% end %>