<section class="bg-white" id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-dark text-uppercase sr-righttitle-1">Experience</h2>
        <hr class="my-4 sr-righttitle-2">
        <p class="section-subheading text-muted sr-righttitle-3">Relevant work experience</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline sr-experience-1">
        <% @experiences.reverse.each do |e| %>  
            <% @experiences.oddexperience.each do |i| %>
                <% if i.id == e.id %>
                  <li class="sr-experience-<%= e.id.to_s %>">
                    <div class="timeline-image">
                        <%= image_tag "experience/" + e.image, class: "rounded-circle img-fluid" %>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4><%= e.date %></h4>
                        <h4 class="subheading"><%= e.title %></h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted"><%= e.description.html_safe %></p>
                      </div>
                    </div>
                  </li>
                <% end %>
            <% end %>
            <% @experiences.evenexperience.each do |i| %>
                <% if i.id == e.id %>
                  <li class="timeline-inverted sr-experience-<%= e.id.to_s %>">
                    <div class="timeline-image">
                        <%= image_tag "experience/" + e.image, class: "rounded-circle img-fluid" %>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4><%= e.date %></h4>
                        <h4 class="subheading"><%= e.title %></h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted"><%= e.description.html_safe %></p>
                      </div>
                    </div>
                  </li>
                <% end %>
            <% end %>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>