<header class="masthead text-center text-white d-flex">
    <%= video_tag(
      'code.mp4',
      id: 'background',
      autoplay: true,
      loop: true,
      muted: true
    )
    %>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div id="typed-strings">
          <p>Hello, I'm <span class="highlight">Romain Rouyer</span>.
           <br>
           I'm a passionate IT Engineer with 5 years’ experience in various IT fields.
           <br>
           Currently living in France.
	  </p>
        </div>
        <span class="text" id="typed"></span>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#majSkills">About Me</a>
      </div>
    </div>
  </div>
</header>

<%= render "skill" %>
<%= render "portfolio" %>
<%= render "experience" %>
<%-# <%= render "contact" -%>
<%= render "footer" %>
<%= render "shared/modal" %>
